* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #3b3b7b */
}

.fa {
    font-size: 2.5em;
}

.scored {
    color: orange;
    font-size: 3rem;
    fill: red;
}

#msg_button:hover {
    cursor: default;
}

/* styling the header */
@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");

body {
    /* margin: 10rem; */
    overflow: visible;
    font-family: "Asap", sans-serif;
    background-color: #7f7fd0;
    /* min-height: 100vh; */
    min-width: 100vw;
    max-height: 100vh;
    /* height: 100vh; */
}

header {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header h1 {
    /* position: absolute; */
    overflow: hidden;
    width: 90%;
    font-size: 60px;
    font-weight: 600;
    color: transparent;
    background-image: linear-gradient(to right, #553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    background-position: -200%;
    animation: animated-gradient 2s infinite alternate-reverse;
}

@keyframes animated-gradient {
    to {
        background-position: 200%;
    }
}


/* styling the hr tags */
hr {
    border-left: 10px double #000000;
    border-top: 10px double #000000;
    border-bottom: 10px double #000000;
}

.horizontal {
    overflow: visible;
    /* For IE */
    height: 1.875rem;
    /* font-weight: 10000; */
    border-style: solid;
    border-color: rgb(235, 10, 10);
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.horizontal:before {
    /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 1.875rem;
    /* margin-top: -1.9375rem; */
    border-style: solid;
    border-color: black;
    border-width: 5px 0 5px 0;
    border-radius: 1.25rem;
}

/*  */
.selected {
    text-align: center;
    padding: 2em;
    /* background-color: black; */
}

#user,
#computer {
    display: flex;
    flex-direction: column;
}

#user_image,
#computer_image {
    width: 10rem;
}

.choose_img {
    width: 6.25rem;
}

#game_box {
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(244, 81, 0, 0.655); */
}

#selection_box {
    /* margin-top: 0.5rem; */
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */

}

.choose {
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(176, 252, 12, 0.988);
    border: 7px solid rgb(238, 108, 8);
    border-radius: 10px;
}

.choose:hover {
    background-color: #32328d;
    border: 5px dotted aqua;
}

.score {
    /* background-color: #de7575; */
    padding: 1em;
}


/*   WRITING CSS FOR POPUP WINDOW   */


.popup {
    background-color: #f6f6f6;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    display: none;
    text-align: center;
    color: #553c9a;
    /* font-weight:  */
    /* min-height: 100vh; */
}

.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup h2 {
    margin-top: -20px;
}

.popup p {
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

a {
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0a1b2e;
    border-radius: 20px;
    color: #cc0c0c;
    text-decoration: none;
    padding: 8px 0;
}